.header {
  padding-top: 52px;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.header .logo {
  display: flex;
  justify-content: center;
}

.header #logo {
  height: 103.62px;
  width: 180px;
}

.header .nav {
  display: flex;
  justify-content: space-evenly;

  width: 811px;
  margin: 20px auto 0 auto;
}

.header .nav .category {
  width: 140px;

  font-size: 26px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

@media ( max-width: 768px ) {
  *, ::after, ::before {
    box-sizing: border-box;
  }

  .header {
    padding: 10px 20px;
    display: flex;
    position: fixed;

    width: 100vw;
  }

  .header #logo {
    width: 34px;
    height: 20px;
  }

  .header .nav {
    margin: auto;
    justify-content: end;
  }

  .header .nav .category {
    width: auto;
    height: auto;
    margin: 0 10px;

    font-size: 11px;
  }
}