.header {
  padding-top: 52px;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.logo {
  display: flex;
  justify-content: center;
}

#logo {
  height: 103.62px;
  width: 180px;
}

.nav {
  display: flex;
  justify-content: space-evenly;

  width: 811px;
  margin: 20px auto 0 auto;
}

.nav .category {
  width: 140px;

  color: #FFF;
  font-size: 26px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}