.home .mainCarousel {
  position: relative;
  z-index: 0;
}

.home .mainText {
  color: #FFF;
  font-size: 30px;
  font-weight: 700;
  text-align: center;

  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
	transform: translate( -50%, -50% );
}

.home .mainVideo {
  width: 100%;
}

.home .mainImg {
  display: none;
}


@media ( max-width: 768px ) {
  .home .mainText {
    font-size: 1em;
  }

  .home .mainImg {
    display: block;
    padding-top: 50px;
  }

  .home .mainImg img {
    width: 100vw;
  }

  .home .mainCarousel {
    display: none;
  }
}