.information .header {
  position: fixed;
  top: 0;
}

.information .header .category {
  color: black;
}

.information .content {
  width: 1200px;
  margin: 260px auto -20px auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.information .content .contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information .content .contents p {
  margin-bottom: 15px;
}

@media ( max-width: 768px ) {
  .information .header p {
    color: black;
  }

  .information .content {
    width: 80%;
  }

  .information .content {
    width: 100vw;
    margin: auto;

    display: flex;
    flex-direction: column;
  }

  .information #map {
    height: 50vh;
  }
  
  .information .content .contents {
    margin-left: 15px;
  }
}