.space .titleImg {
  width: 100%;
}

.space .imgGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  width: 90%;
  margin: 100px auto;
}

.space .imgGrid img {
  width: 100%;
}

.space .imgNav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  width: 90%;
  margin: auto;
}

.space .imgNav .imgNavCategory {
  position: relative;
}

.space .imgNav .imgNavCategory img {
  width: 100%;
  transition: all 0.2s linear;
  filter: brightness(50%)
}

.space .imgNav .imgNavCategory img:hover {
  filter: brightness(100%)
}

.space .imgNav .imgNavCategory p {
  color: white;
  font-size: 36px;

  position: absolute;
  top: 50%;
  left: 50%;
	transform: translate( -50%, -50% );
}

@media ( max-width: 768px ) {
  .space .imgGrid {
    display: block;
  }

  .space .imgNav {
    grid-template-columns: repeat(2, 1fr);
  }

  .space .imgNav .imgNavCategory p {
    font-size: 1.5em;
  }
}