.reservation .header {
  background-color: white;
}

.reservation .header .category {
  color: black;
}

.reservation .banner {
  width: 100%;
  height: 200px;
  margin: 212.12px 0 0 0;
  object-fit: cover;

  filter: opacity(60%);
}

.reservation .next {
  width: 1200px;
  margin: 85px auto 0 auto;
  display: flex;
  justify-content: flex-end;
}

.reservation .next .nextBtn {
  width: 175px;
  height: 50px;

  flex-shrink: 0;
  border-radius: 100px;
  background: #000;
  color: white;
}

.policy .announce {
  width: 1200px;
  margin: auto;
}

.policy .announce h1 {
  margin-block-end: 0;
}

.policy .policyGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  
  margin: auto;
  width: 1200px;
}

.policy .policyGrid h2 {
  border-top: #000 solid 1px;
  padding: 15px 0 0 0;
  font-size: 30px;
}

.policy .policyGrid h3 {
  padding: 10px 0;
}

.policy .policyGrid p {
  line-height: 150%;
}

@media ( max-width: 768px ) {
  .reservation .header p {
    color: black;
  }

  .reservation .banner {
    width: 100%;
    height: 200px;
    margin: 44px 0 0 0;
    object-fit: cover;
  
    filter: opacity(60%);
  }

  .policy .announce {
    width: 90%;
  }

  .policy .policyGrid {
    display: flex;
    flex-direction: column;
    
    margin: auto;
    width: 90%;
  }

  .reservation .next {
    width: 80%;
  }
}